<footer class="site-footer">
  <div class="wrapper">
    <span class="footer-copy">&copy; {{ 'now' | date: "%Y" }} Bill Funcheon</span>
    <div class="footer-links">
      {%- if site.github_username -%}
        <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">GitHub</a>
      {%- endif -%}
      {%- if site.linkedin_username -%}
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" rel="noopener">LinkedIn</a>
      {%- endif -%}
      {%- if site.email -%}
        <a href="mailto:bfunch13@gmail.com">Email</a>
      {%- endif -%}
    </div>
  </div>
</footer>
